.social-login {
  display: flex;
  flex-direction: column;
  button {
    width: 378px;
    height: 36.4px;
    margin-bottom: 30px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 20px;
    &:hover {
      cursor: pointer;
    }
  }
  .social-login--github {
    background-color: #24292e;
  }
  .social-login--facebook {
    background-color: #4267b2;
  }
}
