.videos {
  margin: 0px 20px 0px 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 40px;
  justify-content: space-around;

  a {
    &:hover {
      .videoBlock__thumbnail {
        border: 1px $dark-gray solid;
      }
    }
    &:first-child,
    &:nth-child(2) {
      grid-column: span 3;
      grid-row: span 3;

      .videoBlock__thumbnail {
        width: 660px;
        height: 360px;
      }
    }

    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      grid-column: span 2;
      grid-row: span 2;

      .videoBlock__thumbnail {
        width: 430px;
        height: 230px;
      }
    }
  }
  .videoBlock {
    text-align: center;

    .videoBlock__thumbnail {
      height: 100px;
      width: 200px;
    }
    .videoBlock__title,
    .videoBlock__views {
      text-align: left;
      font-weight: 600;
      margin-top: 10px;
    }
    .videoBlock__title {
    }
    .videoBlock__views {
      color: $dark-gray;
    }
  }
}
